{
  "extends": "xo",
  "rules": {
    "indent": [ "error", 2 ],
    "no-alert": [ "off" ],
    "curly": [ "error", "multi-line" ],
    "object-curly-spacing": [ "error", "always", {
      "arraysInObjects": false,
      "objectsInObjects": false
    }]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": false,
    "multiline": false,
    "lodash": false
  }
}
